.no-anim {
  transition: none !important;
}

body {
  --sisisin: url("https://emoji.slack-edge.com/T04Q5G460/sisisin/dca153ae0c46d1c3.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  background-color: #333;
  perspective: 500px;
}

#app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 20px 0;
  background: var(--sisisin) #999 0 0/50%;
  background-blend-mode: darken;
  perspective: 500px;
  transform: translateZ(-100px);
  animation: scroll-bg 30s linear infinite;
}

#app.completed {
  grid-gap: 0;
  transform: none;
  transition: 2s;
  animation: none;
}

.cube {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: 200ms;
}

#app.completed .cube {
  transform: translateZ(0) !important;
  transition: 2s;
}

.cube-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.nyan {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #0000;
  box-sizing: border-box;
  background: var(--sisisin) center/cover no-repeat;
  background-blend-mode: luminosity;
  backface-visibility: hidden;
}

.nyan-1 {
  transform: rotateX(0) translateZ(50px);
  background-color: #000;
}

.nyan-2 {
  transform: rotateX(90deg) translateZ(50px);
  background-color: #00f;
}

.nyan-3 {
  transform: rotateY(90deg) translateZ(50px);
  background-color: #f00;
}

.nyan-4 {
  transform: rotateY(-90deg) translateZ(50px);
  background-color: #f90;
}

.nyan-5 {
  transform: rotateX(-90deg) translateZ(50px);
  background-color: #0f0;
}

.nyan-6 {
  transform: rotateX(180deg) translateZ(50px);
  background-color: #ff0;
}

#app:not(.completed) .cube:hover .nyan {
  filter: brightness(150%);
}

#app.completed .nyan {
  border-width: 0;
  background-color: #fff;
  background-blend-mode: normal;
  filter: sepia(100%) saturate(364%) contrast(92%);
  transform: rotateZ(360deg);
  transition: 3s;
}

#app.completed .nyan:not(.nyan-1) {
  opacity: 0;
}

@keyframes scroll-bg {
  to { background-position: 100% 100%; }
}
